{% extends 'index.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <h1 class="navbar-brand text-light">Administration main page</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light " aria-current="page" href="{% url 'Admin_main_page' %}">Main page</a>
          </li>

          {% if user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More options
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'Add_doctor' %}">Add a new doctor</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
        <div class="d-flex" >
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Hello {{user.first_name}} {{user.last_name}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Update profile.</a></li>
              <li><a class="dropdown-item" href="#">Change the password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                <path d="M7.5 1v7h1V1h-1z"/>
                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
              </svg> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% if user.is_superuser %}

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-5">
        <h3>Doctor available at the west sector.</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Full name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Office</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              {% if doctors%}
                {% for doctor in doctors %}
                  {% if doctor.user.is_active %}
                    {% if doctor.isWest %}
                      <tr>
                        <td><a href="{% url 'Doctor_detail' pk=doctor.user.id %}">{{doctor.user.first_name}} {{doctor.user.last_name}}</a></td>
                        <td>{{doctor.specialty}}</td>
                        <td>{{doctor.office_address}}</td>
                        <td>
                          option1
                        </td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2"><!-- White space --></div>
      <div class="col-md-5">
        <h3>Doctor available at the east sector.</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Full name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Office</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              {% if doctors%}
                {% for doctor in doctors %}
                  {% if doctor.user.is_active %}
                    {% if doctor.isEast %}
                      <tr>
                        <td><a href="{% url 'Doctor_detail' pk=doctor.user.id %}">{{doctor.user.first_name}} {{doctor.user.last_name}}</a></td>
                        <td>{{doctor.specialty}}</td>
                        <td>{{doctor.office_address}}</td>
                        <td>
                          option1
                        </td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}