{% extends 'index.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <h1 class="navbar-brand text-light">Administration main page</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More options
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'Location_create' %}">Add a new location</a></li>
              </ul>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link text-light " aria-current="page" href="{% url 'Admin_main_page' %}">Main page</a>
          </li>
        </ul>
        <div class="d-flex" >
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Hello {{user.first_name}} {{user.last_name}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Update profile.</a></li>
              <li><a class="dropdown-item" href="#">Change the password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                <path d="M7.5 1v7h1V1h-1z"/>
                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
              </svg> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% if user.is_superuser %}

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-5">
        <h3>Facility's available at the west sector.</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">address</th>
              </tr>
            </thead>
            <tbody>
              {% if locations%}
                {% for data in locations %}
                  {% if data.isWest and data.isActive%}
                    <tr>
                      <td>{{data.name}}</td>
                        <td>{{data.address}}</td>
                        <td>
                          <a class="btn btn-secondary" href="{% url 'Location_update' pk=data.id%}">Update</a>
                        </td>
                      </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="col-md-2"><!-- White space --></div>

      <div class="col-md-5">
        <h3>Facility's available at the east sector.</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">address</th>
              </tr>
            </thead>
            <tbody>
              {% if locations%}
                {% for data in locations %}
                  {% if data.isEast %}
                    <tr>
                      <td>{{data.name}}</td>
                      <td>{{data.address}}</td>
                      <td>
                        <a class="btn btn-secondary" href="#">Update</a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  {% endif %}


  {% if user.doctor.isDoctor %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Locations available for you</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
              </tr>
              <tbody>
                {% if locations %}
                  {% for data in locations %}
                    {% if data.isWest and user.doctor.isWest %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.address}}</td>
                        </tr>
                    {% endif %}
                    {% if data.isEast and user.doctor.isEast %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.address}}</td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </tbody>
            </thead>
          </table>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}